<section class="py-14 bg-surface-50 dark:bg-surface-800">
  <div class="max-w-7xl mx-auto text-center px-4 sm:px-12">
    <p class="text-lg uppercase tracking-wider mb-6 opacity-70" pAnimateOnScroll
      enterClass="animate-enter fade-in-10 zoom-in-20 animate-duration-500">Trusted by educators & organizations </p>
    <div class="flex flex-wrap justify-center gap-6 items-center opacity-80">
      <img src="assets/img/brands/f5.webp" class="h-16 sm:h-20 shadow-lg hover:shadow transition-all duration-300 rounded"
        pAnimateOnScroll enterClass="animate-enter fade-in-10 zoom-in-20 animate-duration-500" />
      <img src="assets/img/brands/forcepoint.webp"
        class="h-16 sm:h-20 shadow-lg hover:shadow transition-all duration-300 rounded" pAnimateOnScroll
        enterClass="animate-enter fade-in-10 zoom-in-20 animate-duration-500" />
      <img src="assets/img/brands/infoblox.webp" class="h-16 sm:h-20 shadow-lg hover:shadow transition-all duration-300 rounded"
        pAnimateOnScroll enterClass="animate-enter fade-in-10 zoom-in-20 animate-duration-500" />
      <img src="assets/img/brands/netskope.webp" class="h-16 sm:h-20 shadow-lg hover:shadow transition-all duration-300 rounded"
        pAnimateOnScroll enterClass="animate-enter fade-in-10 zoom-in-20 animate-duration-500" />
      <img src="assets/img/brands/paloalto.webp" class="h-16 sm:h-20 shadow-lg hover:shadow transition-all duration-300 rounded"
        pAnimateOnScroll enterClass="animate-enter fade-in-10 zoom-in-20 animate-duration-500" />
      <img src="assets/img/brands/sapphire.webp" class="h-16 sm:h-20 shadow-lg hover:shadow transition-all duration-300 rounded"
        pAnimateOnScroll enterClass="animate-enter fade-in-10 zoom-in-20 animate-duration-500" />
      <img src="assets/img/brands/treand-micro.webp"
        class="h-16 sm:h-20 shadow-lg hover:shadow transition-all duration-300 rounded" pAnimateOnScroll
        enterClass="animate-enter fade-in-10 zoom-in-20 animate-duration-500" />
      <img src="assets/img/brands/trellix.webp" class="h-16 sm:h-20 shadow-lg hover:shadow transition-all duration-300 rounded"
        pAnimateOnScroll enterClass="animate-enter fade-in-10 zoom-in-20 animate-duration-500" />
    </div>
  </div>
</section>
