<section class="py-16 px-4 sm:px-12">
  <div class="max-w-7xl mx-auto">
    <div class="flex justify-between items-center mb-10">
      <h2 class="text-3xl font-bold"><span class="text-primary">Upcoming</span> Quizzes</h2>
      <a routerLink="/events" class="text-primary font-medium">View All</a>
    </div>
    <p-carousel [value]="carouselItems()" [numVisible]="3" [numScroll]="1" [circular]="false" [circular]="true"
      [responsiveOptions]="responsiveOptions">
      <ng-template pTemplate="item" let-quiz>
        @if(loading()){
        <div class="bg-surface-0 dark:bg-surface-900 rounded-xl shadow p-5 border border-surface m-4">
          <p-skeleton height="160px" class="mb-3"></p-skeleton>
          <p-skeleton width="80%" class="mb-2"></p-skeleton>
          <p-skeleton width="60%" class="mb-2"></p-skeleton>
          <p-skeleton width="40%"></p-skeleton>
        </div>
        }@else {
        <div class="bg-surface-0 dark:bg-surface-900 rounded-xl shadow p-5 border border-surface m-4" pAnimateOnScroll
          enterClass="animate-enter fade-in-10 zoom-in-20 animate-duration-500">
          <div class="relative">
            <img [src]="quiz.image" [alt]="quiz.title" class="w-full h-40 object-cover rounded-lg mb-4" />
            <span class="text-xs font-medium px-3 py-1 rounded-full absolute top-3 left-3"
              [class]="quiz.type === 'Free' ? 'bg-green-100 text-green-600' : 'bg-blue-100 text-blue-600'">
              {{ quiz.type }} </span>
          </div>
          <h4 class="font-semibold mt-4"> {{ quiz.title }} </h4>
          <div class="text-sm opacity-70 mt-3 space-y-1">
            <p><i class="pi pi-calendar mr-2"></i>{{ quiz.date }}</p>
            <p><i class="pi pi-clock mr-2"></i>{{ quiz.duration }}</p>
          </div>
          <p-button label="Register Now"
            styleClass="mt-4 border-0 bg-linear-to-l from-primary-500 to-primary-700"></p-button>
        </div>
        }

      </ng-template>
    </p-carousel>
  </div>
</section>
