<section
  class="relative bg-primary text-white py-20 bg-[url('assets/img/bg-line-about.png')] bg-no-repeat bg-center bg-cover">
  <div class="absolute inset-0 bg-primary opacity-90 z-0"></div>
  <div class="relative max-w-7xl mx-auto px-6 sm:px-12 text-center z-10">
    <h1 class="text-4xl mb-4 font-bold"> How can we help? </h1>
    <p class="text-lg opacity-90"> A member of our team would love to help you with your query. </p>
  </div>
</section>

<section class="py-20">
  <div class="max-w-6xl mx-auto px-6">

    <div class="text-center mb-14">
      <h2 class="text-3xl font-bold text-primary">Fill The Form Below</h2>
      <p class="text-xl font-semibold  mt-2"> so we can get to know you and your needs better. </p>
    </div>

    <div class="grid lg:grid-cols-2 gap-12">
      <div>
        <h3 class="text-xl font-bold mb-6"> Here's What We Can Help With: </h3>

        <ul class="space-y-4 ">
          <li class="flex gap-3">
            <i class="pi pi-check-circle text-primary mt-1"></i>
            Talk with our team about QuizApp features & pricing
          </li>
          <li class="flex gap-3">
            <i class="pi pi-check-circle text-primary mt-1"></i>
            Get technical or account support
          </li>
          <li class="flex gap-3">
            <i class="pi pi-check-circle text-primary mt-1"></i>
            Partnership & collaboration enquiries
          </li>
          <li class="flex gap-3">
            <i class="pi pi-check-circle text-primary mt-1"></i>
            Any other questions you may have
          </li>
        </ul>
        <p class="text-sm mt-6"> Facing an issue using QuizApp? Check out our
          <a class="text-primary font-medium cursor-pointer">Help Center</a>
          for guides and troubleshooting.
        </p>
      </div>
      <div class="shadow-lg bg-surface-50 dark:bg-surface-900 rounded-xl p-4 sm:p-8">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="grid md:grid-cols-2 gap-6 mb-6">
            <div class="flex flex-wrap gap-1">
              <p-floatlabel class="w-full">
                <input pInputText id="yourName" formControlName="name" class="w-full" />
                <label for="yourName" class="text-sm font-normal">Your Name</label>
              </p-floatlabel>
              @if (isInvalid('name')) {
              <p-message severity="error" size="small" styleClass="text-xs font-light" variant="simple">
                {{getError('name')}}
              </p-message>
              }
            </div>
            <div class="flex flex-wrap gap-1">
              <p-floatlabel class="w-full">
                <input pInputText id="yourEmail" formControlName="email" class="w-full" />
                <label for="yourEmail" class="text-sm font-normal">Email</label>
              </p-floatlabel>
              @if (isInvalid('email')) {
              <p-message severity="error" size="small" styleClass="text-xs font-light" variant="simple">
                {{getError('email')}}
              </p-message>
              }
            </div>
          </div>
          <div class="flex flex-wrap gap-0 mb-6">
            <p-floatlabel class="w-full">
              <input pInputText id="yourSubject" formControlName="subject" class="w-full" />
              <label for="yourSubject" class="text-sm font-normal">Subject</label>
            </p-floatlabel>
            @if (isInvalid('subject')) {
            <p-message severity="error" size="small" styleClass="text-xs font-light" variant="simple">
              {{getError('subject')}}
            </p-message>
            }
          </div>
          <div class="flex flex-wrap gap-0 mb-4">
            <p-floatlabel class="w-full">
              <textarea pTextarea id="textArea" formControlName="message" rows="5"
                class="w-full resize-none"></textarea>
              <label for="textArea" class="text-sm font-normal">Message</label>
            </p-floatlabel>
            @if (isInvalid('message')) {
            <p-message severity="error" size="small" styleClass="text-xs font-light" variant="simple">
              {{getError('message')}}
            </p-message>
            }
          </div>
          <div class="flex items-start gap-2 text-sm mb-4">
            <p-checkbox binary="true" formControlName="subscribe"></p-checkbox>
            <p> Opt in for the latest promotions and updates. </p>
          </div>
          <p class="text-xs mb-6"> By filling out this form you agree to our
            <a class="text-primary font-medium">privacy policy</a>.
          </p>
          <button pButton type="submit" [label]="isLoading() ? 'Submitting...':'Submit'" class="w-full"
            [disabled]="!canSubmit()"></button>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="py-16 bg-surface-100">
  <div class="max-w-6xl mx-auto px-6 grid md:grid-cols-3 gap-8 text-center">

    <div>
      <i class="pi pi-map-marker text-4xl text-primary mb-3"></i>
      <h4 class="font-bold mb-2">Address way</h4>
      <p> QuizApp HQ<br /> New Delhi, India </p>
    </div>

    <div>
      <i class="pi pi-comments text-4xl text-green-500 mb-3"></i>
      <h4 class="font-bold mb-2">Contact info</h4>
      <p>
        Mobile: <a href="tel:+91 888 888 8888" class="hover:text-primary">+91 888 888 8888</a><br />
        Mail: <a href="mailto:support@quizapp.com" class="hover:text-primary">support@quizapp.com</a>
      </p>
    </div>

    <div>
      <i class="pi pi-clock text-4xl text-orange-500 mb-3"></i>
      <h4 class="font-bold mb-2">Work timer</h4>
      <p> Mon - Fri: 09:00 - 20:00<br /> Sat - Sun: 10:30 - 22:00
      </p>
    </div>

  </div>
</section>
